/*by NacreousDawn596*/

.dadaclick {
    margin: 50px;
}

#afterclick {
	display: none;
}

#data {
	display: none;
}

body {
	background: 100% 100% url("./img/beforeclick.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
	background-size: cover;
	background-position: center;
}

p {
	color: whitesmoke;
	font-family: Arial Black;
	font-size: 250%
}

#daclick{
	font-family: arial;
	color: #000000;
	font-size: 25px;
	font-weight: lighter;
	background-color: #fdfcf9;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	border-radius: 25px;
    transition-duration: 1s;
    width: 10%
}

#clicked{
	font-family: arial;
	color: #000000;
	font-size: 25px;
	font-weight: lighter;
	background-color: #fdfcf9;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	border-radius: 25px;
    transition-duration: 1s;
    width: 10%
}

#daclick :hover{
	background-color: #000000;
	color: #fdfcf9;
	border-top: 2px solid #fdfcf9;
	border-bottom: 2px solid #fdfcf9;
	border-left: 2px solid #fdfcf9;
	border-right: 2px solid #fdfcf9;
	transition-duration: 1s;
}

.together {
	display: inline;
}

#time{
	margin-right: 25%
}

#clicks{
	margin-right: 75%
}

#clickperseconds{
	margin-right: 50%
}

#beforeclick {
	margin-left: 35%;
	margin-top: 10%;
}

#result {
	margin-left: 46.111%;
	margin-top: 20.33333%
}

#retry{
	margin-left: 44.777%;
	margin-top: 16%;
	font-family: arial;
	color: #000000;
	font-size: 25px;
	font-weight: lighter;
	background-color: whitesmoke;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	border-radius: 25px;
    transition-duration: 1s;
    width: 10%
}
